@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap');
@import url('https://fonts.cdnfonts.com/css/opendyslexic');

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/container-queries';
@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

:root {
	--hue: 300;
	--hue-off: 250;
	--hue-accent: 152;
	--c-high: 0.22;
	--c-low: 0.025;
	--l-1: 37%;
	--l-2: 44%;
	--l-3: 59%;
	--l-4: 88%;
	--c-sec: 0.01;
	--l-sec: 97%;
	--c-sec-f: 0.03;
	--l-sec-f: 20%;

	--background: oklch(94.3% 0.03 var(--hue));
	--foreground: oklch(28.6% 0.045 var(--hue));
	--card: oklch(100% 0 none);
	--card-foreground: oklch(12% 0.025 var(--hue-off));
	--popover: oklch(100% 0 none);
	--popover-foreground: oklch(12% 0.025 var(--hue-off));
	--secondary: oklch(97% 0.01 var(--hue-off));
	--secondary-foreground: oklch(20% 0.025 var(--hue-off));
	--muted: oklch(97% 0.01 var(--hue-off));
	--muted-foreground: oklch(51.5% 0.01 var(--hue-off));
	--destructive: oklch(63.6% 0.206 17);
	--destructive-foreground: oklch(98.8% 0.005 250);
	--border: oklch(83% 0.03 var(--hue));
	--input: oklch(93% 0.01 var(--hue-off));
	--ring: oklch(59% 0.13 var(--hue));
	--chart-1: oklch(54.7% 0.165 242);
	--chart-2: oklch(63.4% 0.061 174);
	--chart-3: oklch(38% 0.033 206);
	--chart-4: oklch(83.5% 0.11 48);
	--chart-5: oklch(78.4% 0.136 33);
	--sidebar-background: oklch(98.8% 0 none);
	--sidebar-foreground: oklch(37.3% 0.007 var(--hue-off));
	--sidebar-primary: oklch(21.2% 0.004 var(--hue-off));
	--sidebar-primary-foreground: oklch(98.8% 0 none);
	--sidebar-accent: oklch(97.3% 0.005 var(--hue-accent));
	--sidebar-accent-foreground: oklch(21.1% 0.004 var(--hue-off));
	--sidebar-border: oklch(93% 0.01 var(--hue-off));
	--sidebar-ring: oklch(52.2% 0.271 var(--hue-off));
	--shadow-color-1: rgba(0, 0, 0, 0.05);
	--shadow-color-2: rgba(0, 0, 0, 0.1);
	--shadow-color-3: rgba(0, 0, 0, 0.25);
}

.dark {
	--c-high: 0.18;
	--c-low: 0.025;
	--l-1: 98%;
	--l-2: 80%;
	--l-3: 45%;
	--l-4: 28%;
	--c-sec: 0.025;
	--c-sec-f: 0.01;
	--l-sec: 26%;
	--l-sec-f: 98%;
	--background: oklch(22.5% 0.015 var(--hue));
	--foreground: oklch(83% 0.05 var(--hue));
	--card: oklch(17.6% 0.045 var(--hue-off));
	--card-foreground: oklch(87.4% 0.04 var(--hue));
	--popover: oklch(12% 0.025 var(--hue-off));
	--popover-foreground: oklch(98.6% 0.005 var(--hue-off));
	--secondary: oklch(26% 0.025 var(--hue-off));
	--secondary-foreground: oklch(98.6% 0.005 var(--hue-off));
	--muted: oklch(26% 0.025 var(--hue-off));
	--muted-foreground: oklch(70.5% 0.01 var(--hue-off));
	--destructive: oklch(40% 0.133 17);
	--destructive-foreground: oklch(98.8% 0.005 250);
	--border: oklch(43.6% 0.055 var(--hue));
	--input: oklch(26% 0.025 var(--hue-off));
	--ring: oklch(53% 0.13 var(--hue));
	--chart-1: oklch(48.7% 0.179 236);
	--chart-2: oklch(70.2% 0.069 153);
	--chart-3: oklch(72.4% 0.152 33);
	--chart-4: oklch(62.2% 0.098 292);
	--chart-5: oklch(61.3% 0.189 7);
	--sidebar-background: oklch(21.2% 0.004 var(--hue-off));
	--sidebar-foreground: oklch(97.2% 0.005 var(--hue-off));
	--sidebar-primary: oklch(43% 0.28 var(--hue-off));
	--sidebar-primary-foreground: oklch(100% 0 none);
	--sidebar-accent: oklch(28.4% 0.006 var(--hue-accent));
	--sidebar-accent-foreground: oklch(97.3% 0.005 var(--hue-accent));
	--sidebar-border: oklch(27.8% 0.005 var(--hue));
	--sidebar-ring: oklch(52.2% 0.271 var(--hue-off));
	--shadow-color-1: rgba(255, 255, 255, 0.05);
	--shadow-color-2: rgba(255, 255, 255, 0.1);
	--shadow-color-3: rgba(255, 255, 255, 0.25);
}

@theme inline {
	--breakpoint-*: initial;
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;

	--font-instrument: 'Instrument Sans', -apple-system, BlinkMacSystemFont,
		'Segoe UI', 'Helvetica Neue', Oxygen-Sans, Cantarell, sans-serif;
	--font-dyslexic: 'OpenDyslexic', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Helvetica Neue', Oxygen-Sans, Cantarell, sans-serif;
	--font-sans: var(--font-instrument);

	--shadow-2xs: 0 1px var(--shadow-color-1);
	--shadow-xs: 0 1px 2px 0 var(--shadow-color-1);
	--shadow-sm: 0 1px 3px 0 var(--shadow-color-2),
		0 1px 2px -1px var(--shadow-color-2);
	--shadow-md: 0 4px 6px -1px var(--shadow-color-2),
		0 2px 4px -2px var(--shadow-color-2);
	--shadow-lg: 0 10px 15px -3px var(--shadow-color-2),
		0 4px 6px -4px var(--shadow-color-2);
	--shadow-xl: 0 20px 25px -5px var(--shadow-color-2),
		0 8px 10px -6px var(--shadow-color-2);
	--shadow-2xl: 0 25px 50px -12px var(--shadow-color-3);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary-foreground: oklch(var(--l-1) var(--c-low) var(--hue));
	--color-primary-foresoft: oklch(var(--l-2) var(--c-high) var(--hue));
	--color-primary: oklch(var(--l-3) var(--c-high) var(--hue));
	--color-primary-invert: oklch(var(--l-4) var(--c-high) var(--hue));
	--color-accent-foreground: oklch(var(--l-1) var(--c-low) var(--hue-accent));
	--color-accent-foresoft: oklch(var(--l-2) var(--c-high) var(--hue-accent));
	--color-accent: oklch(var(--l-3) var(--c-high) var(--hue-accent));
	--color-accent-invert: oklch(var(--l-4) var(--c-high) var(--hue-accent));
	--color-secondary: oklch(var(--l-sec) var(--c-sec) var(--hue-off));
	--color-secondary-foreground: oklch(
		var(--l-sec-f) var(--c-sec-f) var(--hue-off)
	);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-border: var(--border);

	--color-sidebar: var(--sidebar-background);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--radius: 0.3rem;
	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}
	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
}

.moving-glass-card {
	@apply border-border/10 bg-white/10 p-6 shadow-xl transition-all duration-300 hover:-translate-y-1 hover:bg-white/15 hover:shadow-2xl dark:border-white/10 dark:bg-white/5 dark:hover:bg-white/10;
}

@utility w-app {
	@apply w-full max-w-[40rem];
}

@utility s-link {
	@apply decoration-primary-foresoft hover:decoration-primary-foresoft/50 text-primary-foresoft cursor-pointer underline decoration-dashed decoration-1 underline-offset-2 transition-all hover:decoration-solid hover:decoration-2 hover:underline-offset-1;
}
@utility s-link-muted {
	@apply decoration-primary-foresoft/50 text-primary-foresoft underline underline-offset-2 opacity-70 transition-all hover:gap-1 hover:underline-offset-3 hover:opacity-90;
}
@utility s-link-hidden {
	@apply decoration-primary/30 flex-shrink-0 underline-offset-4 hover:underline;
}

/* @utility h1 {
  @apply my-4 text-3xl @xl:text-4xl @3xl:text-5xl @5xl:text-6xl; // font-display;
  & .sub {
    @apply text-lg @xl:text-xl @3xl:text-2xl;
  }
}
@utility sub {
  .h1 & {
    @apply text-lg @xl:text-xl @3xl:text-2xl;
  }
} */
@utility d1 {
	@apply my-4 text-4xl font-thin tracking-tight @xl:text-[3rem] @3xl:text-[4rem] @5xl:text-[5rem];
}
@utility h2 {
	@apply my-4 text-2xl @3xl:text-3xl @5xl:text-4xl; /* font-display;*/
}
@utility d2 {
	@apply text-3xl @xl:text-4xl @3xl:text-5xl @5xl:text-6xl; /* font-display;*/
}
@utility h3 {
	@apply mt-1 mb-3 text-xl @3xl:text-2xl; /* font-display;*/
	& > p {
		@apply text-sm opacity-80 @3xl:text-base;
	}
}
@utility h4 {
	@apply my-2 text-lg @3xl:text-xl; /* font-display;*/
}
@utility h5 {
	@apply my-2 text-lg font-bold;
}
@utility s-language-name {
	@apply text-accent-foreground font-semibold italic;
}

@utility rounded-squircle {
	@supports (corner-shape: superellipse(1.6)) {
		corner-shape: superellipse(
			1.6
		) !important; /* equivalent to superellipse(2) */
		border-radius: 50% !important; /* Full height/width value for corner-shape to work as expected */
	}
}

@layer base {
	body {
		padding-top: env(safe-area-inset-top);
		padding-bottom: env(safe-area-inset-bottom);
	}
}
@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply text-foreground bg-gray-50 dark:bg-gray-800;
	}
	body.font-dyslexic {
		--font-sans: var(--font-dyslexic);
	}
}

/* Wider sidebar on large screens */
@media (min-width: 1536px) {
	[data-slot='sidebar'] {
		--sidebar-width: 18rem;
	}
}
