@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap');
@import url('https://fonts.cdnfonts.com/css/opendyslexic');

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/container-queries';
@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

:root {
	--h: 300;
	--h-off: 270;
	--h-accent: 175;
	--c-hi: 0.22;
	--c-lo: 0.08;
	--L-1: 0.35;
	--L-2: 0.45;
	--L-3: 0.58;
	--L-4: 0.9;
	--c-sec: 0.008;
	--L-sec: 0.97;
	--c-sec-f: 0.03;
	--L-sec-f: 0.22;

	--background: oklch(0.96 0.02 var(--h));
	--foreground: oklch(0.3 0.06 var(--h));
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.15 0.02 var(--h-off));
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.15 0.02 var(--h-off));
	--secondary: oklch(0.97 0.005 var(--h-off));
	--secondary-foreground: oklch(0.22 0.03 var(--h-off));
	--muted: oklch(0.97 0.005 var(--h-off));
	--muted-foreground: oklch(0.55 0.01 var(--h-off));
	--destructive: oklch(0.63 0.26 25);
	--destructive-foreground: oklch(0.98 0.005 250);
	--border: oklch(0.85 0.03 var(--h));
	--input: oklch(0.93 0.005 var(--h-off));
	--ring: oklch(0.58 0.22 var(--h));
	--chart-1: oklch(0.55 0.22 295);
	--chart-2: oklch(0.55 0.1 185);
	--chart-3: oklch(0.38 0.05 240);
	--chart-4: oklch(0.78 0.14 85);
	--chart-5: oklch(0.75 0.16 55);
	--sidebar-background: oklch(0.98 0 0);
	--sidebar-foreground: oklch(0.35 0.01 var(--h-off));
	--sidebar-primary: oklch(0.2 0.01 var(--h-off));
	--sidebar-primary-foreground: oklch(0.98 0 0);
	--sidebar-accent: oklch(0.97 0.005 var(--h-accent));
	--sidebar-accent-foreground: oklch(0.2 0.01 260);
	--sidebar-border: oklch(0.93 0.005 var(--h-off));
	--sidebar-ring: oklch(0.6 0.22 var(--h-off));
	--shadow-color-1: rgba(0, 0, 0, 0.05);
	--shadow-color-2: rgba(0, 0, 0, 0.1);
	--shadow-color-3: rgba(0, 0, 0, 0.25);
}

.dark {
	--c-hi: 0.22;
	--c-lo: 0.08;
	--L-1: 0.95;
	--L-2: 0.82;
	--L-3: 0.5;
	--L-4: 0.28;
	--c-sec: 0.02;
	--c-sec-f: 0.01;
	--L-sec: 0.28;
	--L-sec-f: 0.98;
	--background: oklch(0.22 0.03 var(--h));
	--foreground: oklch(0.9 0.06 var(--h));
	--card: oklch(0.2 0.05 var(--h-off));
	--card-foreground: oklch(0.92 0.05 var(--h));
	--popover: oklch(0.15 0.03 var(--h-off));
	--popover-foreground: oklch(0.98 0.005 var(--h-off));
	--secondary: oklch(0.28 0.02 var(--h-off));
	--secondary-foreground: oklch(0.98 0.005 var(--h-off));
	--muted: oklch(0.28 0.02 var(--h-off));
	--muted-foreground: oklch(0.7 0.01 var(--h-off));
	--destructive: oklch(0.42 0.18 25);
	--destructive-foreground: oklch(0.98 0.005 250);
	--border: oklch(0.42 0.04 var(--h));
	--input: oklch(0.28 0.02 var(--h-off));
	--ring: oklch(0.55 0.18 var(--h));
	--chart-1: oklch(0.5 0.18 295);
	--chart-2: oklch(0.58 0.1 170);
	--chart-3: oklch(0.68 0.16 55);
	--chart-4: oklch(0.58 0.18 310);
	--chart-5: oklch(0.58 0.18 355);
	--sidebar-background: oklch(0.2 0.01 var(--h-off));
	--sidebar-foreground: oklch(0.97 0.005 var(--h-off));
	--sidebar-primary: oklch(0.55 0.18 var(--h-off));
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.25 0.005 var(--h-accent));
	--sidebar-accent-foreground: oklch(0.97 0.005 var(--h-accent));
	--sidebar-border: oklch(0.25 0.005 var(--h));
	--sidebar-ring: oklch(0.6 0.22 var(--h-off));
	--shadow-color-1: rgba(255, 255, 255, 0.05);
	--shadow-color-2: rgba(255, 255, 255, 0.1);
	--shadow-color-3: rgba(255, 255, 255, 0.25);
}

@theme inline {
	--breakpoint-*: initial;
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;

	--font-instrument: 'Instrument Sans', -apple-system, BlinkMacSystemFont,
		'Segoe UI', 'Helvetica Neue', Oxygen-Sans, Cantarell, sans-serif;
	--font-dyslexic: 'OpenDyslexic', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Helvetica Neue', Oxygen-Sans, Cantarell, sans-serif;
	--font-sans: var(--font-instrument);

	--shadow-2xs: 0 1px var(--shadow-color-1);
	--shadow-xs: 0 1px 2px 0 var(--shadow-color-1);
	--shadow-sm: 0 1px 3px 0 var(--shadow-color-2),
		0 1px 2px -1px var(--shadow-color-2);
	--shadow-md: 0 4px 6px -1px var(--shadow-color-2),
		0 2px 4px -2px var(--shadow-color-2);
	--shadow-lg: 0 10px 15px -3px var(--shadow-color-2),
		0 4px 6px -4px var(--shadow-color-2);
	--shadow-xl: 0 20px 25px -5px var(--shadow-color-2),
		0 8px 10px -6px var(--shadow-color-2);
	--shadow-2xl: 0 25px 50px -12px var(--shadow-color-3);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary-foreground: oklch(var(--L-1) var(--c-lo) var(--h));
	--color-primary-foresoft: oklch(var(--L-2) var(--c-hi) var(--h));
	--color-primary: oklch(var(--L-3) var(--c-hi) var(--h));
	--color-primary-invert: oklch(var(--L-4) var(--c-lo) var(--h));
	--color-accent-foreground: oklch(var(--L-1) var(--c-lo) var(--h-accent));
	--color-accent-foresoft: oklch(var(--L-2) var(--c-hi) var(--h-accent));
	--color-accent: oklch(var(--L-3) var(--c-hi) var(--h-accent));
	--color-accent-invert: oklch(var(--L-4) var(--c-lo) var(--h-accent));
	--color-secondary: oklch(var(--L-sec) var(--c-sec) var(--h-off));
	--color-secondary-foreground: oklch(
		var(--L-sec-f) var(--c-sec-f) var(--h-off)
	);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-border: var(--border);

	--color-sidebar: var(--sidebar-background);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--radius: 0.3rem;
	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
	--animate-card-out-left: card-out-left 0.2s ease-in forwards;
	--animate-card-out-right: card-out-right 0.2s ease-in forwards;
	--animate-card-pop-in: card-pop-in 0.2s ease-out forwards;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}
	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
	@keyframes card-out-left {
		from {
			opacity: 1;
			transform: translateX(0);
		}
		to {
			opacity: 0;
			transform: translateX(-2rem);
		}
	}
	@keyframes card-out-right {
		from {
			opacity: 1;
			transform: translateX(0);
		}
		to {
			opacity: 0;
			transform: translateX(2rem);
		}
	}
	@keyframes card-pop-in {
		from {
			opacity: 0;
			transform: scale(0.97);
		}
		to {
			opacity: 1;
			transform: scale(1);
		}
	}
}

.moving-glass-card {
	@apply border-border/10 bg-white/10 p-6 shadow-xl transition-all duration-300 hover:-translate-y-1 hover:bg-white/15 hover:shadow-2xl dark:border-white/10 dark:bg-white/5 dark:hover:bg-white/10;
}

@utility w-app {
	@apply w-full max-w-[40rem];
}

@utility s-link {
	@apply decoration-primary-foresoft hover:decoration-primary-foresoft/50 text-primary-foresoft cursor-pointer underline decoration-dashed decoration-1 underline-offset-2 transition-all hover:decoration-solid hover:decoration-2 hover:underline-offset-1;
}
@utility s-link-muted {
	@apply decoration-primary-foresoft/50 text-primary-foresoft underline underline-offset-2 opacity-70 transition-all hover:gap-1 hover:underline-offset-3 hover:opacity-90;
}
@utility s-link-hidden {
	@apply decoration-primary/30 flex-shrink-0 underline-offset-4 hover:underline;
}

/* @utility h1 {
  @apply my-4 text-3xl @xl:text-4xl @3xl:text-5xl @5xl:text-6xl; // font-display;
  & .sub {
    @apply text-lg @xl:text-xl @3xl:text-2xl;
  }
}
@utility sub {
  .h1 & {
    @apply text-lg @xl:text-xl @3xl:text-2xl;
  }
} */
@utility d1 {
	@apply my-4 text-4xl font-thin tracking-tight @xl:text-[3rem] @3xl:text-[4rem] @5xl:text-[5rem];
}
@utility h2 {
	@apply my-4 text-2xl @3xl:text-3xl @5xl:text-4xl; /* font-display;*/
}
@utility d2 {
	@apply text-3xl @xl:text-4xl @3xl:text-5xl @5xl:text-6xl; /* font-display;*/
}
@utility h3 {
	@apply mt-1 mb-3 text-xl @3xl:text-2xl; /* font-display;*/
	& > p {
		@apply text-sm opacity-80 @3xl:text-base;
	}
}
@utility h4 {
	@apply my-2 text-lg @3xl:text-xl; /* font-display;*/
}
@utility h5 {
	@apply my-2 text-lg font-bold;
}
@utility s-language-name {
	@apply text-accent-foreground font-semibold italic;
}

@utility rounded-squircle {
	@supports (corner-shape: superellipse(1.6)) {
		corner-shape: superellipse(
			1.6
		) !important; /* equivalent to superellipse(2) */
		border-radius: 50% !important; /* Full height/width value for corner-shape to work as expected */
	}
}

@layer base {
	body {
		padding-top: env(safe-area-inset-top);
		padding-bottom: env(safe-area-inset-bottom);
	}
}
@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply text-foreground bg-gray-50 dark:bg-gray-800;
	}
	body.font-dyslexic {
		--font-sans: var(--font-dyslexic);
	}
}

/* Wider sidebar on large screens */
@media (min-width: 1536px) {
	[data-slot='sidebar'] {
		--sidebar-width: 18rem;
	}
}
